In [1]:
import os
# nvidia-smi
os.environ['CUDA_VISIBLE_DEVICES'] = '0'

In [2]:
import pandas as pd
import csv
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
PREFIX = "../data/"
PA_PATH = PREFIX + "sap2017-connotation-frames-power-agency/"
MS_PATH = PREFIX + "bamman2013-movie-summaries/MovieSummaries/"
NLP_PATH = MS_PATH + 'corenlp_plot_summaries/'

# read data

In [5]:
data = pd.read_csv(MS_PATH + 'pa-transformer/movie_sentences_genderbalanced.csv', index_col = 0)

In [6]:
data.head()

,sen,sendel,agency,power,verb,mid,senid,charid,gender
85173,"When she refuses , Jane , her father and Guilf...","When she refuses , Jane , her father and Guilf...",pos,pos,execute,181471,11,/m/0gyf3b3,F
90876,He recognizes her from the airport and says ``...,He recognizes her from the airport and says ``...,pos,neg,respond,226198,15,/m/0gxw824,F
32333,"He pockets the potion and attempts to flee , b...","He <VERB> the potion and attempts to flee , bu...",equal,pos,pocket,105972,34,/m/0b440_m,F
127220,"After the death of a fellow detective , both J...","After the death of a fellow detective , both J...",pos,pos,make,15790648,4,/m/0h2qm_m,F
124464,Robert asks that Patty wear a wire to record i...,Robert asks that Patty <VERB> a wire to record...,pos,pos,wear,15080990,20,/m/05sqzx2,F

In [7]:
len(data)

50000

In [8]:
(50000*0.7), (50000*0.2), (50000*0.1)

(35000.0, 10000.0, 5000.0)

# split

In [9]:
test = data.sample(5000)

In [11]:
test.head()

,sen,sendel,agency,power,verb,mid,senid,charid,gender
69968,But listlessness and dejection set in when Mah...,But listlessness and dejection set in when Mah...,pos,equal,tell,33240879,5,/m/0h734t0,F
25527,Stu was booked on the same chartered flight bu...,Stu was <VERB> on the same chartered flight bu...,pos,equal,book,31073723,21,/m/0hj845v,M
56216,"After doing some research , Hutch calls everyo...","After doing some research , Hutch <VERB> every...",pos,neg,call,3024248,26,/m/09sc4ld,M
49722,Upon realizing that Cady has been accepted int...,Upon realizing that Cady has been <VERB> into ...,neg,pos,accept,10565718,7,/m/0g98f_k,F
103472,"As their relationship develops , Carl and Alli...","As their relationship develops , Carl and Alli...",pos,equal,meet,18953471,24,/m/0c9frdn,M

In [12]:
data = data[~data.isin(test)].dropna()

In [13]:
dev = data.sample(10000)

In [14]:
train = data[~data.isin(dev)].dropna()

In [15]:
len(train), len(dev), len(test)

(35000, 10000, 5000)

In [16]:
train.to_csv(MS_PATH + 'pa-transformer/movie_train.csv')

In [17]:
dev.to_csv(MS_PATH + 'pa-transformer/movie_dev.csv')

In [18]:
test.to_csv(MS_PATH + 'pa-transformer/movie_test.csv')

In [19]:
train.gender.value_counts()

F    17542
M    17458
Name: gender, dtype: int64

In [20]:
dev.gender.value_counts()

M    5029
F    4971
Name: gender, dtype: int64

In [21]:
test.gender.value_counts()

M    2513
F    2487
Name: gender, dtype: int64

# view data

In [10]:
train = pd.read_csv(MS_PATH + 'pa-transformer/movie_train.csv')

In [11]:
train.head()

,Unnamed: 0,sen,sendel,agency,power,verb,mid,senid,charid,gender
0,32333,"He pockets the potion and attempts to flee , b...","He <VERB> the potion and attempts to flee , bu...",equal,pos,pocket,105972.0,34.0,/m/0b440_m,F
1,58229,She is rescued by Caspian and they return to t...,She is <VERB> by Caspian and they return to th...,pos,pos,rescue,1882179.0,37.0,/m/037fs1,F
2,75793,He is taken by a car to the safe Emerald City ...,He is <VERB> by a car to the safe Emerald City...,pos,equal,take,7369863.0,8.0,/m/0by40v9,F
3,146661,She is wearing old-fashioned clothing .,She is <VERB> old-fashioned clothing .,pos,pos,wear,1478417.0,2.0,/m/0b_jwvw,F
4,113434,"In a touching scene , Susan observes as Kris s...","In a touching scene , Susan <VERB> as Kris spe...",neg,equal,observe,80523.0,8.0,/m/09nq2jw,F

In [12]:
train.agency.value_counts()

pos      25257
equal     5240
neg       4503
Name: agency, dtype: int64

In [13]:
train.power.value_counts()

pos      19383
equal    11071
neg       4546
Name: power, dtype: int64

In [23]:
test = pd.read_csv(MS_PATH + 'pa-transformer/movie_test.csv')

In [39]:
len(test)

5000

In [24]:
test.agency.value_counts()

pos      3670
equal     735
neg       595
Name: agency, dtype: int64

In [25]:
test.power.value_counts()

pos      2848
equal    1520
neg       632
Name: power, dtype: int64